.container{margin-top:2vw;}
.offWidget{margin-bottom:30px;width:100%;border-bottom:1px dashed #f6f6f6;}
#modalViewRatings{font-family:'Open Sans Condensed' ,sans-serif;font-size: 25px;color:#2faade;text-decoration: none}
